html {
  box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    box-sizing: inherit;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: hsl(0, 36%, 70%);
  background-image: url("images/bg-pattern-desktop.svg");
}
header img {
  margin-left: 165px;
  margin-top: 60px;
}
h1 {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: .5em;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;
}
h1 span {
  font-weight: 600;
  color: hsl(0, 6%, 24%);
}
.container {
  width: 615px;
  padding-top: 136px;
  padding-left: 165px;
}
.hero {
  background-image: url('images/hero-desktop.jpg');
  background-size: cover;
  width: 610px;
  height: 800px;
  position: absolute;
  right: 0;
  top: 0;

}
.greeting {
  line-height: 2;
}
form {
  margin-top:50px;
  position: relative;
  left:-10px;
  height: 54px;
  width: 446px;
}
form>* {
  border-radius: 27px;
}
.error-icon {
  display: inline;
  visibility: hidden;
  position: absolute;
  right: 120px;
  top: 14px;
}
#eml {
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: thin;
  border-color: hsl(0, 36%, 70%);
  padding-left: 25px;
}
::placeholder {
  color: hsl(0, 36%, 70%);
}
#submit {
  display: inline;
  position:absolute;
  right: 0;
  height: 54px;
  width: 22%;
  border-style: none;
  background-image:linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: white;
  box-shadow: 0 20px 20px hsla(0, 36%, 70%, 0.5);
  transition: .2s;
}
#submit:hover {
  background-image:linear-gradient(135deg, hsl(0, 80%, 90%), hsl(0, 74%, 80%));
  box-shadow: 0 18px 30px hsla(0, 36%, 70%, 0.9);
}
form *:focus {
  outline: none;
  border-color: red;
}
#eml:focus:invalid {
  border-color: red;
}
#eml:focus:invalid + .error-icon {
  visibility: visible;
}
@media screen and (max-device-width: 378px) {
  header img {
      margin: 30px;
      height: 20px;
    }
    h1 {
      font-size: 30px;
      letter-spacing: .4em;
    }
    .hero {
      background-image: url("images/hero-mobile.jpg");
      position: static;
      width: 100%;
      height: 250px;
    }
    .container {
      width: 100%;
      padding: 38px;
      text-align:center;
    }
    .greeting {
      font-size: 14px;
      line-height: 1.6;
    }
    form {
      width: 310px;
    }
    .error-icon {
      right: 80px;
    }
}
